<div *ngIf="home" id="banner">
    <img href="#" [attr.src]="home.banner | previewImage" alt="banner" style="height:450px">
    <div id="banner-text">
        <p>{{ home.welcome[0].message }}</p>
    </div>
</div>

<div class="index-container index-head">
    <div class="container">
        <div class="row">
            <div class="col">
                Total article : 8
            </div>
            <div class="col">
                Total follower : 8
            </div>
            <div class="col">
                Total connection today : 8
            </div>
        </div>
    </div>
    <admin [form]="formular"></admin>
</div>

<div class="index-container index-body">
    <div class="index-article">
        <h2 class="text-center">About</h2>
    </div>
    <div class="index-article bg-gray">
        <h2 class="text-center">Lastest blog posts</h2>
        <articles-list-lastest></articles-list-lastest>
    </div>
    <div class="index-article">
        <h2 class="text-center">About Me</h2>
        <about-detail-me></about-detail-me>
    </div>
    <div class="index-article bg-gray">
        <h2 class="text-center">Contact Me</h2>
        <contact-form></contact-form>
    </div>
</div>
