.inner {
    padding: 2rem;
}

.cover {
    padding: 3rem 2.5rem;
    height: 100%;
    background-color: rgba(44,24,60,.73);
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}
