<div *ngIf="home" class="jumbotron jumbotron-fluid" id="banner">
    <div class="container text-center">
        <img href="#" [attr.src]="home.banner | previewImage" alt="banner">
        <h1 class="display-3">Fluid container</h1>
        <p class="lead">{{ home.welcome[0].message </p>
    </div>
</div>

<index-form></index-form>

<div class="container-fluid index-head">
    <nav></nav>
</div>
<div class="container index-body">
    <about-detail-me></about-detail-me>
    <contact-form></contact-form>
    <articles-list-lastest></articles-list-lastest>
</div>
