<div *ngIf="home" id="banner">
    <img [attr.src]="home.banner | displayImage" alt="banner" style="height:385px">
    <div id="banner-text">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4">{{ home.lang[0].title }}</h1>
                <p class="lead">{{ home.lang[0].message }}</p>
            </div>
        </div>
    </div>
</div>
<div class="ninja">
    <admin [form]="formular"></admin>
</div>

<div class="index-container index-body">
    <div class="index-article bg-gray">
        <h2 class="text-center">About</h2>
        <about-display [element]="blog"></about-display>
        <div class="button-link">
            <a class="btn btn-primary btn-lg btn-uppercase" [routerLink]="['/about']">About</a>
        </div>
    </div>
    <div class="index-article">
        <h2 class="text-center">Portfolio</h2>
        <imgur></imgur>
        <div class="button-link">
            <a class="btn btn-primary btn-lg btn-uppercase" [routerLink]="['/portfolio']">Portfolio</a>
        </div>
    </div>
    <div class="index-article bg-gray">
        <h2 class="text-center">Lastest blog posts</h2>
        <article [element]='index'></article>
        <div class="button-link">
            <a class="btn btn-primary btn-lg btn-uppercase" [routerLink]="['/blog']">Blog</a>
        </div>
    </div>
    <div class="index-article">
        <h2 class="text-center">About Me</h2>
        <about-display [element]="me"></about-display>
        <div class="button-link">
            <a class="btn btn-primary btn-lg btn-uppercase" [routerLink]="['/about']">About</a>
        </div>
    </div>
    <div class="index-article bg-gray">
        <h2 class="text-center">Contact Me</h2>
        <div class="contact">
            <div class="container-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <about-display [element]="address"></about-display>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <contact-form></contact-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
