@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "imports/app/mobile/ionic.scss";

body {
    background-color: #fefefe;
    padding: 0;
    margin: 0;
}

body.mobile {
    overflow: hidden;
}

body.web {
    overflow: visible;
    position: initial;
}
