<div *ngIf="captcha">
    <button data-toggle="modal" class="btn btn-primary" [attr.data-target]="'#secret-captcha'+captcha.hash" href="#" [disabled]="isComplete">
        Captcha
    </button>

    <div class="modal fade" [attr.id]="'secret-captcha'+captcha.hash"
         tabindex="-1" role="dialog" aria-labelledby="secret-captcha" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" [attr.id]="'secret-captcha'+captcha.hash">
                        Captcha
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Colse">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="captchaForm" (ngSubmit)="finishForm()" novalidate>
                        <div class="form-group">
                            <label for="response">{{ captcha.question }}</label>
                            <input class="form-control" formControlName="response" required>
                        </div>
                        Captcha Component = {{ isComplete }}
                        <button type="submit" class="btn btn-success" [disabled]="!captchaForm.valid || isComplete">
                            Valid
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
