<div *ngIf="article && cardDisplay">
    <div class="card" *ngFor="let bl of article.bloc">
        <div class="card-text">
            <ul class="nav">
                <li *ngFor="let tag of article.tags" class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog/category', tag]">{{tag}}</a>
                </li>
            </ul>
        </div>
        <a [routerLink]="['/blog', article._id]">
            <img class="card-img-top img-fluid" *ngIf="article.image" [attr.src]="article | displayMainImage">
        </a>
        <div class="card-block">
            <h3 class="title card-title">
                <a [routerLink]="['/blog', article._id]">{{bl.title}}</a>
            </h3>
            <div class="card-subtitle mb-2">
                <small class="text-muted">
                    by <a [routerLink]="['/user', article.authorId | displayNameWithId]">{{article.authorId | displayNameWithId }}</a>
                    | {{ article.createdAt | date:"d MMMM y à H" }}h
                </small>
            </div>
            <p class="card-text" [innerHTML]="bl.description | markdown"></p>
        </div>
    </div>
</div>

<div *ngIf="article && inlineDisplay">
    <ul class="sidebar-widget">
        <li>
            <a [routerLink]="['/blog', article._id]">
                <img class="img-fluid" *ngIf="article.image" [attr.src]="article | displayMainImage" style="height:50px">
            </a>
            <div class="post-info">
                <a [routerLink]="['/blog', article._id]">{{article.bloc[0].title}}</a>
                <div class="post-meta">
                    <span class="updated">{{ article.createdAt | date:"d MMMM y" }}h</span>
                    <display-tags [tag]="article.tags" [display]="inline"></display-tags>
                </div>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="article && thumbnailDisplay">
    <div class="card">
        <a [routerLink]="['/blog', article._id]">
            <img class="img-fluid card-img-top" *ngIf="article.image" [attr.src]="article | displayMainImage">
        </a>
        <div class="card-block">
            <a [routerLink]="['/blog', article._id]">
                <h4 class="card-title">{{ article.bloc[0].title }}</h4>
            </a>
            <p class="card-text"><small class="text-muted">{{ article.createdAt | date:"d MMMM y" }}h</p>
        </div>
    </div>
</div>

<div class="blog-element" *ngIf="article && blogDisplay">
    <div class="card mt-3" *ngFor="let bl of article.bloc">
        <div class="row">
            <div class="col">
                <a [routerLink]="['/blog', article._id]">
                    <img class="img-fluid card-img" *ngIf="article.image" [attr.src]="article | displayMainImage">
                </a>
            </div>
            <div class="col">
                <div class="media-body blog-post">
                    <h5 class="card-title"><a [routerLink]="['/blog', article._id]">{{ article.bloc[0].title }}</a></h5>
                    <div class="card-subtitle mb-2">
                        <small class="text-muted">
                            by <a [routerLink]="['/user', article.authorId | displayNameWithId]">{{article.authorId | displayNameWithId }}</a>
                            | {{ article.createdAt | date:"d MMMM y à H" }}h
                        </small>
                    </div>
                    <p class="card-text" [innerHTML]="bl.description | markdown"></p>
                    <p class="text-right">
                    <a class="btn" [routerLink]="['/blog', article._id]">read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
