<div *ngIf="index">
    <div [hidden]="!root">
        <nav class="navbar navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#form-home-edit" href="#">
                        <i class="fa fa-edit"></i>
                        <span>Edit home</span>
                    </a>
                </li>
            </ul>
        </nav>
        <modal-home-edit></modal-home-edit>
    </div>
</div>
<div *ngIf="about">
    <div [hidden]="!root">
        <nav class="navbar bg-faded">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#form-about-edit" href="#">
                        <i class="fa fa-edit"></i>
                        <span>Edit about</span>
                    </a>
                </li>
            </ul>
        </nav>
        <modal-about-edit></modal-about-edit>
    </div>
</div>
<div *ngIf="article">
    <div [hidden]="!root">
        <nav class="navbar bg-faded">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#form-blog" href="#">
                        <i class="fa fa-edit"></i>
                        <span>Add new article</span>
                    </a>
                </li>
            </ul>
        </nav>
        <modal-article-add></modal-article-add>
    </div>
</div>
<div *ngIf="editArticle && edit">
    <div [hidden]="!root">
        <nav class="navbar bg-faded">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       data-toggle="modal"
                       data-target="#form-blog" href="#">
                        <i class="fa fa-edit"></i>
                        <span>Edit article</span>
                    </a>
                </li>
            </ul>
        </nav>
        <modal-article-add [article]="edit"></modal-article-add>
    </div>
</div>
