<div class="articles separator" *ngIf="!extra">
    <div class="articles-bloc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9">
                    <div class="blog">
                        <div class="row contact">
                            <div class="col-xs-12 col-sm-4">
                                <about-display [element]="address"></about-display>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <contact-form></contact-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-3 sidebar">
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
