<div class="articles separator" *ngIf="!extra">
    <div class="articles-bloc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 blog">
                    <h2 class="big-title">Contact</h2>
                    <contact-form></contact-form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 sidebar">
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
