<div *ngIf="user">
    <form [formGroup]="addForm" (ngSubmit)="addComment()" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" rows="3" required
                                               formControlName="post" name="post"></textarea>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!addForm.valid">Add Comment</button>
        </fieldset>
    </form>
</div>
<div *ngIf="!user">
    <h5 class="title">Leave a reply</h5>
    <form [formGroup]="formAnonym" (ngSubmit)="addAnonym()" novalidate>
        <p><small>
            Your email address will not be published. Required fields are marked *
        </small></p>
        <div class="form-group">
            <label class="sr-only" for="post">Post</label>
            <textarea class="form-control" rows="6" required formControlName="post" placeholder="Your post *">
            </textarea>
        </div>
        <div class="row">
            <div class="col form-group">
                <label class="sr-only" for="username">Username</label>
                <input class="form-control" type="text" required formControlName="username" placeholder="Username *">
            </div>
            <div class="col form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" type="email" required formControlName="email" placeholder="Email *">
            </div>
            <div class="col form-group">
                <label class="sr-only" for="website">Website</label>
                <input class="form-control" type="text" formControlName="website" placeholder="website">
            </div>
            <div [hidden]="!formAnonym.get('website').errors" class="btn btn-danger">No valid domain</div>
        </div>
        <div class="row">
            <button class="upper btn" type="submit" [disabled]="!formAnonym.valid">Post comment</button>
        </div>
    </form>
    <captcha (complete)="handleResult($event)"></captcha>
        </div>
