<div class="article-detail" *ngIf="comments">
    <h5>Comments</h5>

    <!-- comment -->
    <ul class="media-list">
        <li class="media" *ngFor="let comment of comments | async; let i=index">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="" alt="">
                </a>
            </div>
            <!-- Media Body from father -->
            <div class="media-body">
                <h3 class="h3 media-heading">{{ comment.poster }}
                    <small>>{{ comment.posted | date:"d MMMM y à H:M" }}</small></h3>
                <div [innerHTML]="comment.post | markdown"></div>
                <div *ngIf="user">
                    <comment-button 
                    [post]="comment" 
                    [articleId]="articleId"
                    [index]="i"></comment-button>
                </div>

                <!-- Reply 1 -->
                <div class="media" *ngFor="let reply of (comment | displayReplyComment) | async; let i=index"> 
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="" alt="">
                        </a>
                    </div>

                    <!-- media-body 1 -->
                    <div class="media-body">
                        <h3 class="h3 media-heading">{{ reply.poster }}
                            <small>>{{ reply.posted | date:"d MMMM y à H:M" }}</small></h3>
                        <div [innerHTML]="markdownDisplay(reply.post)"></div>

                        <div *ngIf="user">
                            <comment-button 
                            [post]="reply" 
                            [articleId]="articleId"
                            [index]="i"></comment-button>
                        </div>

                        <!-- Reply 2 -->
                        <div class="media" *ngFor="let reply1 of (reply | displayReplyComment) | async; let i=index"> 
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="" alt="">
                                </a>
                            </div>

                            <!-- media-body 2 -->
                            <div class="media-body">
                                <h3 class="h3 media-heading">{{ reply1.poster }}
                                    <small>>{{ reply.posted | date:"d MMMM y à H:M" }}</small></h3>
                                <div [innerHTML]="markdownDisplay(reply1.post)"></div>

                                <div *ngIf="user">
                                    <comment-button 
                                    [post]="reply1" 
                                    [articleId]="articleId"
                                    [index]="i"></comment-button>
                                </div>

                                <!-- Reply 3 -->
                                <div class="media" *ngFor="let reply2 of (reply1 | displayReplyComment) | async; let i=index"> 
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="" alt="">
                                        </a>
                                    </div>

                                    <!-- media-body 3 -->
                                    <div class="media-body">
                                        <h3 class="h3 media-heading">{{ reply2.poster }}
                                            <small>>{{ reply2.posted | date:"d MMMM y à H:M" }}</small></h3>
                                        <div [innerHTML]="markdownDisplay(reply2.post)"></div>

                                        <div *ngIf="user">
                                            <comment-button 
                                            [post]="reply2" 
                                            [articleId]="articleId"
                                            [index]="i"></comment-button>
                                        </div>

                                    </div> <!-- End media body 3 -->
                                </div> <!-- End reply 3 -->
                            </div> <!-- End media body 2 -->
                        </div> <!-- End reply 2 -->
                    </div>  <!--</div> End media Body 1 -->
            </div>  <!--</div> End reply 1 -->
        </li> <!-- End Comment -->
    </ul>
</div> <!-- End media -->
<div [hidden]="!user">
    <h3>New post</h3>
    <comment-form></comment-form>
</div>
