<div class="article-detail mt-3" *ngIf="comments">

    <div class="container">
    <!-- comment -->
        <div class="media row" *ngFor="let comment of comments | async; let i=index">
            <display-comment [comment]="comment"></display-comment>
            <div *ngIf="user">
                <comment-button 
            [post]="comment" 
            [articleId]="articleId"
            [index]="i"></comment-button>
            </div>

            <!-- Reply 1 -->
            <div class="media row" *ngFor="let reply of (comment | displayReplyComment) | async; let i=index"> 
                <display-comment [comment]="reply"></display-comment>
                <div *ngIf="user">
                    <comment-button 
                [post]="reply" 
                [articleId]="articleId"
                [index]="i"></comment-button>
                </div>

                <!-- Reply 2 -->
                <div class="media row" *ngFor="let reply1 of (reply | displayReplyComment) | async; let i=index"> 
                    <display-comment [comment]="reply1"></display-comment>
                    <div *ngIf="user">
                        <comment-button 
                    [post]="reply1" 
                    [articleId]="articleId"
                    [index]="i"></comment-button>
                    </div>

                    <!-- Reply 3 -->
                    <div class="media row" *ngFor="let reply2 of (reply1 | displayReplyComment) | async; let i=index"> 
                        <display-comment [comment]="reply2"></display-comment>
                        <div *ngIf="user">
                            <comment-button 
                        [post]="reply2" 
                        [articleId]="articleId"
                        [index]="i"></comment-button>
                        </div>

                        </div> <!-- End media body 3 -->
                    </div> <!-- End reply 3 -->
                </div> <!-- End media body 2 -->
                </div> <!-- End reply 2 -->
            </div>  <!--</div> End media Body 1 -->
            </div>  <!--</div> End reply 1 -->
        </div>
        </div> <!-- End Comment -->

        </div>

</div>
<div [hidden]="!user">
    <h3>New post</h3>
    <comment-form [article]="articleId"></comment-form>
</div>
