<li class="media my-2">
    <a class="d-flex mr-3" href="#" [attr.alt]="'img of '+comment.poster | displayNameWithId">
        <img [attr.src]="comment.poster | displayUserImage" style="height:64px;width:64px">
    </a>
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{ comment.poster | displayNameWithId }}
            <span><small> | {{ comment.posted | date:"d MMMM y à H:M" }}</small></span>
        </h5>
        <div class="markdown" [innerHTML]="comment.post | markdown"></div>
    </div>
</li>
