<div class="dash-menu mt-4">
    <nav class="nav flex-column flex-md-row nav-pills nav-fill">
        <a class="flex-md-fill text-md-center nav-link active" href="#">
            Button 1
        </a>

        <a class="flex-md-fill text-md-center nav-link dropdown-toggle" 
            href="#" data-toggle="dropdown" 
            aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-edit"></i>
            <span>Form</span>
        </a>
        <!-- Form dropdown -->
        <div class="dropdown-menu">
            <a class="dropdown-item" 
                data-toggle="modal" 
                data-target="#form-blog" href="#">
                <i class="fa fa-plus"></i>
                <span>Article</span>
            </a>
            <a class="dropdown-item" 
                data-toggle="modal" 
                data-target="#form-about-edit" href="#">
                <i class="fa fa-plus"></i>
                <span>About Me</span>
            </a>
        </div>
        <!-- End Form dropdown -->
        <a class="flex-md-fill text-md-center nav-link" href="#">Button 1</a>
        <a class="flex-md-fill text-md-center nav-link" href="#">Button 1</a>
        <a class="flex-md-fill text-md-center nav-link" href="#">Button 1</a>
        <a class="flex-md-fill text-md-center nav-link" href="#">Button 1</a>
    </nav>
</div>

<modal-article-add></modal-article-add>
<modal-about-edit></modal-about-edit>
