<div id="statistic" class="container-fluid">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            CPU
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            LIKES
        </div>
        <div *ngIf="indexArticle" class="col-md-3 col-sm-6 col-xs-12">
            <i class="ion ios-browsers-outline icon"></i>TOTAL ARTCLES: {{ indexArticle }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            TOTAL MEMBERS
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>browser share</h3>
            <div class="row">
                <div class="col-md-12">
                    <stat-user></stat-user>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block" style="padding:.5rem">
                            <user-last></user-last>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block" style="padding:.5rem">
                            last comment here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            stats inBlock
        </div>
    </div>
<div>
    <h3>Last comments</h3>
</div>
