<div>
    <h3>Statistics</h3>
    <p>members : </p>
    <p>visitors : </p>
    <p>articles: </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="md-8">
            <div class="row">
                <div class="md-6">
                    <div class="card">
                        <div class="card-block">
                            <user-last></user-last>
                        </div>
                    </div>
                </div>
                <div class="md-6">
                    <div class="card">
                        <div class="card-block">
                            last comment here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-4">
            stats inBlock
        </div>
    </div>
<div>
    <h3>Last comments</h3>
</div>
