<div class="container-fluid">
    <div class="container-inner">
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <fieldset>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               type="email" required formControlName="email" placeholder="Email *">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" 
                               type="password" required formControlName="password" placeholder="Password *">
                    </div>
                </div>

                <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Login</button>
            </fieldset>
        </form>
        <p><a [routerLink]="['/signup']">Need an account?</a></p>
    </div>
</div>
