<div class="articles separator">
    <div class="articles-bloc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9">
                    <div class="blog">
                        <h2 class="big-title">Log in</h2>
                        <login-form></login-form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-3">
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
