<div class="login separator">
    <div class="container">
        <h2>Log in to Website</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control"
                           type="email" required formControlName="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" 
                           type="password" required formControlName="password">
                </div>
                <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Login</button>
            </fieldset>
        </form>
        <p><a [routerLink]="['/signup']">Need an account?</a></p>
    </div>
</div>
