<div *ngIf="captcha" class="signup separator">
    <div class="container">
        <h2 class="big-title">Sign up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
            <fieldset>
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="email">Email</label>
                    <div class="col-10">
                        <input class="form-control" 
                               type="email" name="email" required formControlName="email" placeholder="Email *">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="confirm-email">Confirm Email</label>
                    <div class="col-10">
                        <input class="form-control" type="email" required formControlName="confirmEmail" placeholder="Confirm Email *">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="username">Username</label>
                    <div class="col-10">
                        <input class="form-control"
                               type="text" name="username" required formControlName="username" placeholder="Username *">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="password">Password</label>
                    <div class="col-10">
                        <input class="form-control"
                               type="password" name="password" required formControlName="password" placeholder="Password *">
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="confirm-password">Confirm password</label>
                    <div class="col-10">
                        <input class="form-control" type="password" required formControlName="confirmPassword" placeholder="Confirm password *">
                    </div>
                </div>

                <button *ngIf="captcha.hash"
                     (click)="onClickCaptcha()" class="btn btn-default" type="button" 
                     data-toggle="collapse"
                     [attr.data-target]="'#'+'captcha_'+captcha.hash"
                     aria-expanded="false"
                     [attr.aria-controls]="'captcha_'+captcha.hash">
                    Captcha
                </button>

                <div *ngIf="captchaClick && captcha.hash"
                    class="collapse" [attr.id]="'captcha_'+captcha.hash">
                    <div class="form-group">
                        <label [attr.for]="'captcha_'+captcha.hash">{{ captcha.question }}</label>
                        <input class="form-control" 
                               type="text" 
                               formControlName="captcha"
                               [attr.name]="'captcha_'+captcha.hash">
                    </div>
                </div>

                <button *ngIf="checkTimerValid" class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            </fieldset>
        </form>
    </div>
</div>
