<div *ngIf="captcha" class="signup">
    <div class="container">
        <h3>Create an account</h3>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <fieldset>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" 
                           type="email" formControlName="email">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control"
                           type="text" formControlName="username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control"
                           type="password" formControlName="password">
                </div>
               
                <button *ngIf="captcha.hash"
                     (click)="onClickCaptcha()" class="btn btn-default" type="button" 
                     data-toggle="collapse"
                     [attr.data-target]="'#'+'captcha_'+captcha.hash"
                     aria-expanded="false"
                     [attr.aria-controls]="'captcha_'+captcha.hash">
                    Captcha
                </button>

                <div *ngIf="captchaClick && captcha.hash"
                    class="collapse" [attr.id]="'captcha_'+captcha.hash">
                    <div class="form-group">
                        <label [attr.for]="'captcha_'+captcha.hash">{{ captcha.question }}</label>
                        <input class="form-control" 
                               type="text" 
                               formControlName="captcha"
                               [attr.name]="'captcha_'+captcha.hash">
                    </div>
                </div>

                <button *ngIf="checkTimerValid" class="btn btn-primary" type="submit">Sign Up</button>
            </fieldset>
        </form>
    </div>
</div>
