<div *ngIf="articles" class="articles">
    <div class="articles-bloc">
        <div class="row">
            <admin [form]="formular"></admin>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-9">
                <div class="blog" *ngFor="let article of articles | async">
                    <display-article-list [article]="article" [display]="blog"></display-article-list>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 sidebar">
                <sidebar></sidebar>
            </div>
        </div>
    </div>
</div>
