<div *ngIf="displayInline && tags" class="bar-tags">
    <ul class="nav justify-content-center">
        <li class="nav-item" *ngFor="let tag of tags | async">
            <a class="nav-link" [attr.alt]="tag.name" (click)="tagSelected(tag.name)">{{tag.name}}</a>
        </li>
    </ul>
</div>

<div *ngIf="displayBlock && tags">
    <ul class="sidebar-widget-list d-flex align-content-stretch flex-wrap p-3">
        <li class="" *ngFor="let tag of tags | async">
            <a class="p-2" [routerLink]="['/blog/category', tag.name]">{{tag.name}}</a></div>
        </li>
    </ul>
</div>
