.bar-tags {
    width: 100%;
    margin-bottom: 2em;
    background-color: transparent;
    position: relative;
    display: block;
    text-align: center;

    .inline {
        display: inline-block;
    }

    li {
        margin-left: .8rem;
    }

    a {
        text-decoration: none;
        padding: 10px 0 10px 0;
        color: #222;

        &:hover {
            border-bottom: 2px solid;
        }
    }
}
