<div class="bar-tags">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="nav navbar-nav">
                <div class="btn-group" role="group">
                    <div class="inline" *ngFor="let tag of tags | async">
                        <button class="btn btn-default" (click)="tagSelected(tag.name)">
                            {{tag.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
