.tag-list-banner {
    text-align: center;
    display: inline-block;

    span {
        padding-left:.6em; 
    }

    a {
        text-decoration: none;
        color: black;
    }

    md-nav-list {
        text-align: center;
        margin: auto;
    }

    md-list-item {
        display: inline-block;
        margin-bottom: .5em;
    }

    md-toolbar {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.22);
    }
}
