<div *ngIf="article">
    <form *ngIf="root" (submit)="saveArticle()">

        <label for="image">Image</label>
        <input type="text" [(ngModel)]="article.image" name="image">

        <div *ngFor="let bloc of article.bloc">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="bloc.title" name="title">

            <label for="description">Description</label>
            <textarea [(ngModel)]="bloc.description" name="description"></textarea>

            <label for="article">Article</label>
            <textarea [(ngModel)]="bloc.article" name="article"></textarea>
        </div>

        <button type="submit">Finish</button>
        <a [routerLink]="['/']">Cancel</a>
    </form>
</div>

<div *ngIf="article">
    <section *ngFor="let bloc of article.bloc">
        <article>
            <header>
                <h2>{{ bloc.title }}</h2>
                <cite>{{article.author}}</cite>
                <figure>{{ article.image }}</figure>
                <div [innerHTML]="markdownDisplay(bloc.description)"></div>
                {{ bloc.lang }}
            </header>
            <div [innerHTML]="markdownDisplay(bloc.article)"></div>
        </article>
    </section>
</div>
<comment></comment>
