<div class="edit-form-article" *ngIf="article && root">
        <form (submit)="saveArticle()">

            <p>
            <input type="text" [(ngModel)]="article.image" name="image">
            </p>

            <p *ngFor="let bloc of article.bloc">
            <input type="text" [(ngModel)]="bloc.title" name="title">
            <br />

            <textarea [(ngModel)]="bloc.description" name="description">
            </textarea>
            <br />

            <textarea [(ngModel)]="bloc.article" name="article">
            </textarea>
            <br />
            </p>

            <button type="submit">Finish</button>
            <a [routerLink]="['/']">Cancel</a>
        </form>
</div>

<div class="article-detail" *ngIf="article">
    <section *ngFor="let bloc of article.bloc">
        {{ bloc.title }}
        {{article.author}}
        <img [src]="article | displayMainImage">
        <div [innerHTML]="markdownDisplay(bloc.description)"></div>
        <div [innerHTML]="markdownDisplay(bloc.article)"></div>
    </section>
</div>
<comment></comment>
