.form-container {
    background-color: #fff;
    color: #000;
    margin: .6rem .4rem;
    padding: 1rem;

    .form-group {
    }

    .thumbnail {
        img {
            width: 100%;
        }
    }

    label {
    }

    input { 
    }

    textarea {
    }
}
