<div class="elements-sidebar">
    search here
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Recent post</h5>
    <article [element]="sidebarM"></article>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Follow Us</h5>
    <social></social>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Popular Posts</h5>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Recent tweets</h5>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">About me</h5>
    <about-detail-me></about-detail-me>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Labels</h5>
    <div class="tag-sidebar">
        <tag-main></tag-main>
    </div>
</div>
