<div class="elements-sidebar">
    search here
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Recent post</h5>
    <article [element]="sidebarM"></article>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Follow Us</h5>
    <about-display [element]="social" [display]="bloc"></about-social>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Popular Posts</h5>
</div>
<div class="elements-sidebar">
    <h5 class="sidebar-title">Labels</h5>
    <div class="tag-sidebar">
        <tag-main [display]="bloc"></tag-main>
    </div>
</div>
