<div class="articles">

    <div class="row ma-filter">
        <div class="col-md-6">
            <button class="btn btn-default search" type="button" data-toggle="collapse"
                                                          data-target="#searchbar"
                                                          aria-expanded="false"
                                                          aria-controls="searchbar"
                                                          aria-label="Search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search
            </button>
            <div class="collapse" id="searchbar">
                <form>
                    <div class="input-group">
                        <input class="form-control" type="text" #searchtext 
                                                    placeholder="Search for..."> 
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                                                  (click)="search(searchtext.value)">
                                Search
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <tag-main (tagSelect)="searchByTag($event)"></tag-main>
        </div>
    </div>

    <div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 articles-list" *ngFor="let article of articles | async">
                <div class="thumbnail">
                    <div *ngFor="let bl of article.bloc">
                        <h3>
                            <a [routerLink]="['/blog', article._id]">{{bl.title}}</a>
                        </h3>
                        <p>
                        by <a [routerLink]="['/user', article.author]">{{article.author}}</a>
                        at {{ article.createdAt | date:"d MMMM y à H" }}h
                        </p>
                        <a [routerLink]="['/blog', article._id]">
                            <img *ngIf="article.image" [src]="article | displayMainImage">
                        </a>
                        <div class="caption">
                            <div class="small description" [innerHTML]="markdownDisplay(bl.description)"></div>
                            <p>
                            <a class="btn btn-primary btn-lg"
                                [routerLink]="['/blog', article._id]">Learn More</a>
                            </p>
                            <button [hidden]="!root" (click)="removeArticle(article)">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="pagination">
        <pagination-controls (pageChange)="onPageChanged($event)">
        </pagination-controls>
    </div>
</div>
