<form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addArticle()">
    <label for="title">Title</label>
    <input type="text" formControlName="title" name="title">

    <label for="image">Image</label>
    <input type="text" formControlName="image" name="image">

    <label for="description">Description</label>
    <input type="text" formControlName="description" name="description">

    <label for="lang">Lang</label>
    <input type="text" formControlName="lang" name="lang">

    <label for="article">Article</label>
    <input type="text" formControlName="article" name="article">

    <label for="public">Public</label>
    <input type="checkbox" formControlName="isPublic">

    <button type="submit">Add</button>
</form>
