<div class="separator" *ngIf="articleList">
    <div class="row">
        <div *ngFor="let article of articleList | async" class="col">
            <div class="card blog" *ngFor="let bl of article.bloc">
                <div class="card-block">
                    <div class="card-text">
                        <ul class="nav justify-content-center">
                            <li *ngFor="let tag of tags" class="nav-item">
                                {{ tag }}
                            </li>
                        </ul>
                    </div>
                    <h3 class="card-title text-center">
                        <a [routerLink]="['/blog', article._id]">{{bl.title}}</a>
                    </h3>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <i class="fa fa-user fa-fw"></i>
                            <a [attr.routerLink]="['/user', article.authorId | displayNameWithId]">{{article.authorId | displayNameWithId }}</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-calendar fa-fw"></i>
                            <small>
                                {{ article.createdAt | date:"d MMMM y à H" }}h
                            </small>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-comments"></i>
                        </li>
                    </ul>
                    <a [routerLink]="['/blog', article._id]">
                        <img class="card-img img-fluid" *ngIf="article.image" [src]="article | displayMainImage">
                    </a>
                    <div class="card-text text-left post" [innerHTML]="bl.description | markdown"></div>
                    <div class="row">
                        <div class="col-md-4 flex-md-last">
                            <p>
                            <a class="read-more"
                               [routerLink]="['/blog', article._id]">Continue Reading</a>
                            </p>
                        </div>
                        <div class="col-md-8 flex-md-first">
                            <p class="card-text">
                            Share on:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!articleList">
    <h4>No articles found.</h4>
</div>
