.ma-filter {
    margin: auto;
}

.articles {
    background-color: #fff;
    color: #000;
    
    .thumbnail {
        text-align: center;
        a {
            text-decoration: none;
            color: #000;
            text-width: bold;
        }
    }

    .pagination {
        text-align: center;
        width: 94%;
    }

    img {
        width: 100%;
    }
}
