<!--<button md-icon-button [md-menu-trigger-for]="menu"> Open Menu </button>
-->

<div class="form-container">
    <div *ngIf="root">
        <form [formGroup]="addForm" (ngSubmit)="addArticle(); onReset()">
               
            <p>
            <input formControlName="title" placeholder="title">
            </p>
            <p>
            <label for="image">Image</label>
            <upload-image #upload (onFile)="onImage($event)"></upload-image>
            </p>
            <p>
            <textarea dividerColor="accent" 
                formControlName="description" placeholder="description">
            </textarea>
            </p>
            <p>
            <input formControlName="lang" placeholder="lang">
            </p>
            <p>
            <textarea formControlName="article" placeholder="article">
            </textarea>
            </p>
            <p>
            <button type="checkbox" formControlName="isPublic">Public?</button>
            </p>

            <div *ngFor="let t of tags | async">
                <button type="checkbox" (click)="addTag(t.name)" name="{{ t.name }}">{{t.name}}</button>
            </div>

            <button type="submit">Add</button>
        </form>
    </div>
</div>
