@import "./colors";

/*
* Base
*/

body {
    background-color: rgba(43,45,41,.99);
    color: #aaa;
}

.master {
    background-color: #fff;
    color: #000;
}

.light-bg {
    background-color: rgba(250,250,250,.95);
}

.site-wrapper {
    margin-top: 54px;
}

.form-container {
    .col {
        padding: 0 .5rem;
    }
}

.big-title {
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
}

/*
 * Navbar
 */

.main-header {

    .social-banner {
        &>ul>li>a {
            color: #aaa;
            &:hover {
                color: #fff;
            }
        }
        position: absolute;
        text-align: right;
        right: 19px;
        top: -11px;

        .no-social {
            position: absolute;
            top: 24px;
            right: 10px;
            width: 7em;
        }
    }

    button.navbar-toggler {
        position: fixed;
        left: 45%;
    }

    #navigation-menu>ul>li>a {
        color: #aaa;
        &.active {
            color: #fff;
        }
        &:hover {
            color: #ccc;
        }
    }
}

.user-bar {
    margin-top: 10px;
    &>a {
        color: #fff;
        text-decoration: none;
    }
}

/* 
* /index
*/

#banner {
    &>img {
        width:100%;
    }
    height: 385px;
    background-color: #000;
}

#banner>.container-fluid>img {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
}

#banner-text {
    position: absolute;
    top: 54px;
    color: #fff;
    width: 100%;
    height: 385px;
    background-color: rgba(14,13,13,.4);
    .jumbotron {
        background-color: rgba(1,1,1,.0);
    }
}

.ninja {
    position: absolute;
    top: 124px;
}

.index-container {
    &>div {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.index-head {
    background-color: $dark-bg;
    display: block;
    width: 100%;
}

.index-body {
    .myHead {
        .img-fluid {
            width: 100%;
        }
    }
}

.index-img {
    height: auto; 
    width: 100%;
    background-color: rgba(0,0,0,.9);
    margin-top: -44px;
}
.index-about {
    min-height: 10rem;
}
.last-articles {
    img.d-block.img-fluid {
        height: 17rem;
        width: 100%;
    }
}

.index-article {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    &>h2 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 40px;
        margin: .7em auto;
    }
    .about-blog {}
    .button-link {
        margin: 3em auto;
        text-align: center;
        &>a {
            text-transform: uppercase;
        }
    }
}

.bg-gray {
    background-color: #eee;
}

.index-stat {
    color: #fff;
    padding: 1em;
    &>p>i {
        font-size: 26px;
        color: #113;
        padding-top: .3em;
    }
}

.thumb {
    margin-bottom: 2em;
}

/*
* Articles
*/

.blog-element {
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding: 20px;
    .blog-post {
        margin-left: -1em;
    }
}

.articles-list {
    margin-top: 14px;
}

.tag-main {

}

.tag-sidebar>tag-main>div>ul {
    display: block;
}

.title {
    display: inline-block;
    padding: 12px 0;
    color: rgba(0,0,0,.75);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar-widget {
    list-style: none;
    padding: 0;
    word-wrap: break-word;
    li { 
        display: flex;
        display: -ms-flexbox;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin: 0;
        padding: 15px 20px;
        font-size: 12px;
        line-height: 1.3em;
        &>a {
            text-decoration: none;
            color: #666;
            width: 50px;
            max-width: 50px;
            height: 50px;
            margin: 0 10px 0 0;
            vertical-align: top;
            overflow: visible;
            &:hover {
                color: #111;
            }
        }
    }
    h4 {
        font-size: 14px;
        font-weight: 600;
        color: rgba(0,0,0,.75);
        text-transform: uppercase;
    }
}

.sidebar-widget-list {
    list-style: none;
    word-wrap: break-word;
    a {
        color: #222;
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }
}

.elements-sidebar {
    margin: 1em auto;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px 0 #e2e3e4;
    border-radius: 1px 1px 1px 1px;
    h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding: 15px 20px;
        background-color: $red;
        color: #fff;
        line-height: 1;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}

.articles-bloc {
    margin: auto 1em;
}

.bar-tags {
    background-color: #fff;
    box-shadow: 0 0 5px 0 #e2e3e4;
    border-radius: 2px;
    &>ul>li>a {
        color: #000;
        &:hover {
            border-bottom: 1px solid #222;
        }
    }
}

.articles {
    padding: .4em 0;
    background-color: rgba(239,235,235,.99);
    &>.row.ma-filter {
        float: right;
    }
}

.read-more {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    background-color: $red;
    border-radius: 2px;
    color: #efefef;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.pag {
    padding-top: 1em;
    margin: auto;
}

.post {
    padding: 9px;
    overflow: hidden;
}

.blog {
    margin: 1em 0;
    background-color: #fff;
    border-top: 6px solid $red;
    h3.card-title>a {
        text-decoration: none;
        color: #222;
        font-size: 30px;
        font-weight: 400;
    }
    .card {
        border: 1px solid transparent;
    }
}

.ng2-pagination {
    text-align: center;
}

.separator {
    margin-top: 55px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.article-detail {

    h1 {
        text-transform: uppercase;
        font-size: 26px;
        line-height: 35px;
        font-weight: 600;
    }

    .blog-header {
        padding: 40px;
    }
}

/*
* About
*/

.aboutme {
    border: 0;
    margin: 1em auto;
    padding-top: 2em;
    background-color: rgba(234,233,234,.17);
    .card-header {
        background-color: transparent;
    }
    .card-footer {
        background-color: transparent;
    }
}

.selfie {
    width: 171px;
    height: 171px;
    margin: auto;
}

.social-icon {
    width: 40px;
    height: 40px;
    font-size: 37px;
    margin: 0 10px 0 0;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    a {
        color: #666;
        &:hover {
            color: #000;
        }
    }
}

.social {
    font-size: 24px;
    padding: 10px;
    color: #000;
    &:hover {
        color: #222;
    }
}

/*
* Dashboard panel
*/

.dash-menu {
}

/*
* Footer
*/

.main-footer {
    background-color: rgba(0,0,0,.5);
    padding-top: 3em;
    font-size: 14px;
    h5 {
        margin-bottom: 15px;
    }
    .footer-blog>.elements-sidebar {
        background-color: transparent;
        box-shadow: none;
        color: #eee;
        margin: 0;
        a {
            color: #aaa;
            &:hover {
                color: #fff;
            }
        }
        li {
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}

.copyright {
    background-color: rgba(0,0,0,.3);
    border-top: 2px solid $red;
    padding: 1em;
}

.white>li>a {
    color: #aaa;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

.social-bottom>ul>li {
    display: inline-block;
    padding: 0 .6em;
}

/*
* Dashboard
*/

#statistic {
    background-color: #efefef;
}

/*
* Form
*/

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

/*
* Media Query
*/

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .social-banner {
        right: 2em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .articles-bloc {
        margin: auto 2rem;
    }

    .main-header {
        button.navbar-toggler {
            display:none;
        }

        .navbar-toggler-icon {
            display: none;
        }

        #navigation-menu.collapse {
            display: block;
            position: relative;
            margin: auto;
            height: 0;
            top: -40px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .tag-main {
        margin: auto 3em;
    }

    .articles-bloc {
        margin: auto 3em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .tag-main {
        margin: auto 5em;
    }

    .articles-bloc {
        margin: auto 5em;
    }

    .index-container {
        &>div {
            padding-left: 5em;
            padding-right: 5em;
        }
    }
}
