@import "./colors";


/*
* Base
*/

body {
    background-color: rgba(0,0,0,.9);
    color: #aaa;
}

.master {
    background-color: #fff;
    color: #000;
}

/*
* Bootstrap default not include in this version
*/

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: normal;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    .nav-link.active .nav-item.show .nav-link {
        color: #fff;
        cursor: default;
        background-color: #027d58;
    }
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.rounded-circle {
    border-radius: 50%;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.mt-0 {
    margin-top: 0!important;
}

.mr-3 {
    margin-right: 1rem!important;
}

.align-self-start {
    align-self: flex-start !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}


.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}

.fixed-top {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;

    .active {
        height: 0;
        width: 0;
        margin: 0 3px;
    }

    li {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        max-width: 30px;
        height: 3px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        &::before {
            position: absolute;
            top: -10px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 10px;
            content: "";
        }
        &::after {
            position: absolute;
            bottom: -10px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 10px;
            content: "";
        }
    }
}

@media (max-width: 575px) {
    .navbar-toggleable .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-toggleable-sm > .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    .text-md-left {
        text-align: left !important;
    }
    .text-md-right {
        text-align: right !important;
    }
    .text-md-center {
        text-align: center !important;
    }
}

/*
 * Navbar
 */

.main-header {

    background-color: rgba(53,47,47,.85);
    position: fixed;
    width: 100%;

    #nav-menu-collapse-1 {
        .nav-item {
            float: none;
        }
        .navbar-collapse.in {
            margin: 3em 0;
            text-align: center;
        }
    }

    .navbar-toggler {
        position: fixed;
        left: 47.6%;
        padding: 0;

        .navbar-toggler-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            background-size: 100% 100%;
        }
    }
    .social-media {
        position: fixed;
        right: 10px;
        top: 5px;
        .nav-item {
            float: right;
        }
    }
}

/* 
* /index
*/

#banner {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ddd;
    &>.container {
        top: 305px;
        position: absolute;
        width: 100%;
    }
    &.jumbotron {
        margin: -5px;
    }
} 

#carouselBanner {
    margin-top: 20px;
}

.index-head {
    background-color: rgba(130,65,65,.9);
    height: 180px;
    display: block;
    width: 100%;
}

.index-body {
    margin-top: -7em;
    padding-bottom: 4em;
    .myHead {
        .img-fluid {
            width: 100%;
        }
    }
}

.index-img {
    height: auto; 
    width: 100%;
    background-color: rgba(0,0,0,.9);
    margin-top: -44px;
}
.index-about {
    min-height: 10rem;
}
.last-articles {
    img.d-block.img-fluid {
        height: 17rem;
        width: 100%;
    }
}

/*
* Articles list
*/

.articles {
    margin: 2em 0;
    &>.row.ma-filter {
        float: right;
    }
}

.blog {
    height: 387px;
    margin: 1em 0;
    h3.card-title>a {
        text-decoration: none;
        color: #222;
    }
}
.ng2-pagination {
    text-align: center;
}

.separator {
    margin-top: 59px;
}

/*
* About
*/

.aboutme {
    border: 0;
    .card-header {
        background-color: transparent;
    }
    .card-footer {
        background-color: transparent;
    }
}

.selfie {
    width: 256px;
    height: 256px;
}

/*
* Dashboard panel
*/

.dash-menu {
    position: relative;
    top: -17px;
    //.flex-column {
    //    -webkit-flex-direction: row!important;
    //}
}

/*
* Footer
*/

.main-footer {
    padding-top: 2em;
    background-color: rgba(80,79,79,.2);
}

.copyright {
    border-top: 1px solid #755151;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2.2em;
    padding-top: 6.6px;
}

.white>li>a {
    color: #aaa;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

.social-bottom>ul>li {
    display: inline-block;
    padding: 0 .6em;
}

/*
* Media Query
*/

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .main-header {
        nav { 
        }
        .navbar-toggler {
            display: none;
        }
    }
    .social-media {
        float: right;
        .nav-item {
            float: right;
        }
    }
    #nav-menu-collapse-1.collapse {
        display: block;
        position: fixed;
        top: 5px;
        left: 29%;
    }
    #nav-menu-collapse-1 {
        .nav-item {
            display: inline-block;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .social-media {
        float: right;
        .nav-item {
            float: right;
        }
    }
    #nav-menu-collapse-1.collapse {
        left: 40%;
    }
    .dash-menu {
        position: relative;
        left: -15px;
        padding-left: .6em;
        .flex-column {
            -webkit-flex-direction: column!important;
        }
        .dropdown-menu {
            position: relative;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .social-media {
        float: right;
        .nav-item {
            float: right;
        }
    }
    #nav-menu-collapse-1.collapse {
        left: 37%;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .social-media {
        float: right;
        .nav-item {
            float: right;
        }
    }

}
