@import "./colors";


/*
* Base
*/

body {
    background-color: rgba(0,0,0,.9);
    color: #aaa;
}

.master {
    background-color: #fff;
    color: #000;
}

.light-bg {
    background-color: rgba(250,250,250,.95);
}

.site-wrapper {
    margin-top: 54px;
}

/*
 * Navbar
 */

.main-header {
    .social-banner {
        position: fixed;
        right: 2%;
        top: 0;
        &>ul>li>a {
            color: #aaa;
            &:hover {
                color: #fff;
            }
        }
    }

    button.navbar-toggler {
        position: fixed;
        left: 45%;
    }

    background-color: rgba(53,47,47,.85);
    position: fixed;
    width: 100%;

    #navigation-menu>ul>li>a {
        color: #aaa;
        &.active {
            color: #fff;
        }
        &:hover {
            color: #ccc;
        }
    }
}

/* 
* /index
*/

#banner {
    &>img {
        width:100%;
    }
    height: 410px;
    background-color: #000;
}

#banner>.container-fluid>img {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
}

#banner-text {
    position: absolute;
    text-align: center;
    top: 320px;
    width: 85%;
    color: #000;
    background-color: rgba(245,245,245,.3);
    padding: .7em 0;
    font-size: 1.3em;
    left: 7%;
    height: 7rem;
}


.index-head {
    background-color: rgba(121,64,64,1); 
    height: 180px;
    display: block;
    width: 100%;
}

.index-body {
    margin-top: -7em;
    padding-bottom: 4em;
    .myHead {
        .img-fluid {
            width: 100%;
        }
    }
}

.index-img {
    height: auto; 
    width: 100%;
    background-color: rgba(0,0,0,.9);
    margin-top: -44px;
}
.index-about {
    min-height: 10rem;
}
.last-articles {
    img.d-block.img-fluid {
        height: 17rem;
        width: 100%;
    }
}

/*
* Articles list
*/

.sidebar {}

.elements-sidebar {
    margin: 1em auto;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px 0 #e2e3e4;
    padding: 25px;
    border-radius: 1px 1px 1px 1px;
    h5 {
        font-size: 16px;
        border-bottom: 1px solid #ecedee;
        line-height: 20px;
        font-weight: bold;
    }
}

.articles-bloc {
    margin: auto 1em;
}

.bar-tags {
    background-color: #fff;
    margin: auto 1em;
    box-shadow: 0 0 5px 0 #e2e3e4;
    border-radius: 2px;
    &>ul>li>a {
        color: #000;
        &:hover {
            border-bottom: 1px solid #222;
        }
    }
}

.articles {
    padding: .4em 0;
    &>.row.ma-filter {
        float: right;
    }
    background-color: #7d7683;
}

.read-more {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    background-color: #652323;
    border-radius: 2px;
    color: #efefef;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.pag {
    padding-top: 1em;
    background-color: rgba(16,9,9,.68);
}

.post {
    box-shadow: 0 0 5px 0 #e2e3e4;
    padding: 9px;
    overflow: hidden;
}

.blog {
    margin: 1em 0;
    h3.card-title>a {
        text-decoration: none;
        color: #222;
        font-size: 30px;
        font-weight: 400;
    }
}
.ng2-pagination {
    text-align: center;
}

.separator {
    margin-top: 55px;
}

/*
* About
*/

.aboutme {
    border: 0;
    .card-header {
        background-color: transparent;
    }
    .card-footer {
        background-color: transparent;
    }
}

.selfie {
    width: 256px;
    height: 256px;
}

.social {
    font-size: 24px;
    padding: 10px;
    color: #000;
    &:hover {
        color: #222;
    }
}

/*
* Dashboard panel
*/

.dash-menu {
}

/*
* Footer
*/

.main-footer {
    padding-top: 2em;
    background-color: rgba(80,79,79,.2);
}

.copyright {
    border-top: 1px solid #755151;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2.2em;
    padding-top: 6.6px;
}

.white>li>a {
    color: #aaa;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

.social-bottom>ul>li {
    display: inline-block;
    padding: 0 .6em;
}

/*
* Dashboard
*/

#statistic {
    background-color: #efefef;
}

/*
* Media Query
*/

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .social-banner {
        position: fixed;
        right: 5%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .articles-bloc {
        margin: auto 1em;
    }

    .main-header {
        button.navbar-toggler {
            display:none;
        }
        .navbar-toggler-icon {
            display: none;
        }
    }

    #navigation-menu.collapse {
        display: block;
        position: fixed;
        top: 8px;
        left: 26%;
    }

    .dash-menu {
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .bar-tags {
        margin: auto 3em;
    }

    .articles-bloc {
        margin: auto 3em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .bar-tags {
        margin: auto 5em;
    }

    .articles-bloc {
        margin: auto 5em;
    }
}
