<div class="row">
    <div *ngIf="nbArticle" class="col text-center index-stat">
        <p>Articles <br />
        <i class="fa fa-sticky-note" aria-hidden="true"></i> {{ nbArticle }}
        </p>
    </div>
    <div class="col text-center index-stat">
        <p>Follower <br />
        <i class="fa fa-star-o" aria-hidden="true"></i> 8
        </p>
    </div>
    <div class="col text-center index-stat">
        <p>Connection today <br />
        <i class="fa fa-user-secret" aria-hidden="true"></i> 8
        </p>
    </div>
</div>
