<div *ngIf="about">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 pages">
            <h5>Pages</h5>
            <ul class="list-unstyled white">
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/']">Home</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/portfolio']">Portfolio</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/blog']">Blog</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/about']">About</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/contact']">Contact</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/login']">Login</a></li>
                <li><i class="fa fa-caret-right fa-fw"></i><a [routerLink]="['/signup']">Signup</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 contact-us">
            <h5>Docs</h5>
            <doc-footer></doc-footer>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 footer-blog">
            <h5>Recent post</h5>
            <div class="elements-sidebar">
                <article [element]="sidebar"></article>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 subscribe">
            <div class="row">
                <h5>Donate</h5>
            </div>
            <div class="row">
                <h5>Subscribe</h5>
            </div>
        </div>
    </div>
</div>
