<admin [form]="formular"></admin>

<div class="container" *ngIf="about && displayBloc">
    <div class="card text-center aboutme">
        <img class="card-img rounded-circle selfie img-fluid" [attr.src]="about.imageOfYou | previewImage" alt="My head">
        <div class="card-block">
            <h3 class="card-title"> {{ about.name | displayOrNone }}</h3>
            <p class="card-text">{{ about.lang[0].aboutYou | displayOrNone }}</p>
            <p class="card-text">Skill : {{ about.lang[0].skills | displayOrNone }}</p>
        </div>
        <div class="card-footer">
            <about-display [element]="social" [display]="inline"></about-display>
        </div>
    </div>
</div>

<div *ngIf="about && displayInline">
    <ul class="sidebar-widget">
        <li>
            <a [routerLink]="['/about']" class="d-flex align-self-center">
                <img class="rounded-circle mr-3 img-fluid" [attr.src]="about.imageOfYou | previewImage" alt="My head" style="height:400;width:400">
            </a>
            <div class="post-meta">
                <a [routerLink]="['/about']">
                    <h4 class="title">{{ about.name | displayOrNone }}</h4>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="about && displayBlog">
    <div class="card mt-3 about-blog">
        <div class="card-header">
            <h5 class="upper">About the author</h5>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <img class="img-fluid card-img img-blog" *ngIf="about.imageOfYou" [attr.src]="about.imageOfYou | previewImage" alt="My Head" style="height:150px;width:150px">
            </div>
            <div class="col-sm-8">
                <div class="media-body blog-post card-block">
                    <h5 class="card-title">{{ about.name | displayOrNone }}</h5>
                    <p class="card-text">{{ about.lang[0].aboutYou | displayOrNone }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <about-display [element]="social" [display]="inline"></about-display>
        </div>
    </div>
</div>
