<div class="container-fluid" *ngIf="aboutMe">
    <about-detail-me [about]="about" [display]="bloc"></about-detail-me>
</div>

<div class="container-fluid" *ngIf="aboutBlog">
    <div class="container">
        <about-blog [about]="about"></about-blog>
    </div>
</div>

<div class="container-fluid" *ngIf="aboutSocial && displayInline">
    <social [social]="about" [display]="inline"></social>
</div>

<div class="container-fluid" *ngIf="aboutSocial && displayBloc">
    <social [social]="about" [display]="bloc"></social>
</div>

<div class="container-fluid" *ngIf="aboutMix">
    display all 
</div>

<div *ngIf="aboutFooter">
    <about-detail-contact [about]="about"></about-detail-contact>
    <social [social]="about" [display]="inline"></social>
</div>

<div *ngIf="aboutSidebar">
    <about-detail-me [about]="about" [display]="inline"></about-detail-me>
</div>
