<div *ngIf="aboutForm">
    <div class="container-fluid">
        <form [formGroup]="aboutForm" (ngSubmit)="addPost()" novalidate>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="image">Image</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="image" formControlName="image" placeholder="image">
                    <upload-image #upload (onFile)="onImage($event)"></upload-image>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="lang">Lang</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="lang" required formControlName="lang" name="lang">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="name" required formControlName="name" name="name" placeholder="Your nickname">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="company">Domain name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="company" required formControlName="company" name="company" placeholder="Domain name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="aboutCompany">About site</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="aboutCompany" formControlName="aboutCompany" name="aboutCompany" placeholder="Little description about your blog">
                    </textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="jobName">Job</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="jobName" formControlName="jobName" name="jobName" placeholder="programmer, designer, etc...">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="skill">Skill</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="skill" formControlName="skill" name="skill" placeholder="Litle list about your skill like: python, ruby, javascript">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="mail">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" id="mail" formControlName="mail" name="mail" placeholder="email">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="mobile">Phone 1</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="mobile" formControlName="mobile" name="mobile" placeholder="mobile phone">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fix">Phone 2</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="fix" formControlName="fix" name="fix" placeholder="fix phone">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fax">Fax</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="fax" formControlName="fax" name="fax" placeholder="fax number">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="aboutYou">About You</label>
                <div class="col-sm-10">
                    <textarea class="form-control" type="text" rows="3" id="aboutYou" formControlName="aboutYou" name="aboutYou" placeholder="Speak a little about you">
                    </textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="street">Street</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="street" formControlName="street" name="street" placeholder="street">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="cp">CP</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="cp" formControlName="cp" name="cp" placeholder="cp">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="city">City</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="city" formControlName="city" name="city" placeholder="city">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="facebook">Facebook</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="facebook" formControlName="facebook" name="facebook" placeholder="-> https://www.facebook.com/username/">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="github">Github</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="github" formControlName="github" name="github" placeholder="-> https://github.com/username">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="twitter">Twitter</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="twitter" formControlName="twitter" placeholder="-> https://twitter.com/username" name="twitter">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dotshare">DotshareIt</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="dotshare" formControlName="dotshare" placeholder="-> http://dotshare.it/~username/" name="dotshare">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="imgur">Imgur</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="imgur" formControlName="imgur" placeholder="-> https://username.imgur.com/" name="imgur">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="reddit">Reddit</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="reddit" formControlName="reddit" placeholder="-> https://reddit.com/user/username" name="reddit">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-success" type="submit" [disabled]="!aboutForm.valid">Add About</button>
                </div>
            </div>

        </form>
    </div>
</div>
