<div *ngIf="root">
    <div class="form-container">
        <div class="container">
            <form [formGroup]="aboutForm" (ngSubmit)="addPost()">
                <fieldset>
                    <div class="form-group">
                        <label for="aboutme">About Me</label>
                        <textarea class="form-control" rows="3"
                            formControlName="post" name="aboutme"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lang">Lang</label>
                        <input class="form-group" 
                               type="text" formControlName="lang" name="lang">
                    </div>
                    <button class="btn btn-primary"
                        type="submit">Add About</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
