<div class="articles separator">
    <div class="articles-bloc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 blog">
                    <h2>About</h2>
                    <about-display [element]="me"></about-display>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 sidebar">
                    <sidebar></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
