<admin [form]="formular"></admin>
<!--
<div class="row">
    <div *ngIf="image1" class="col-sm-6 col-md-6 col-xs-12 col-lg-4 thumb">
        <img class="img-fluid" href="#" [attr.src]="image1.link" [attr.alt]="image1.id">
    </div>
    <div *ngIf="image2" class="col-sm-6 col-md-6 col-xs-12 col-lg-4 thumb">
        <img class="img-fluid" href="#" [attr.src]="image2.link" [attr.alt]="image2.id">
    </div>
    <div *ngIf="image3" class="col-sm-6 col-md-6 col-xs-12 col-lg-4 thumb">
        <img class="img-fluid" href="#" [attr.src]="image3.link" [attr.alt]="image3.id">
    </div>
</div>
-->

<div *ngIf="portfolio">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-4 thumb" *ngFor="let img of portfolio | async">
            <imgur-display [imgur]="img"></imgur-display>
        </div>
    </div>
</div>

<div *ngIf="!portfolio">
    We dont have response...
</div>
