<div class="articles separator" *ngIf="portfolio">
    <div class="articles-bloc">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9">
                    <div class="blog">
                        <h2 class="big-title">Portfolio</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12 thumb" *ngFor="let img of portfolio | async">
                                    <imgur-display [imgur]="img"></imgur-display>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 sidebar">
                <sidebar></sidebar>
            </div>
        </div>
    </div>
</div>
