<div class="articles separator" *ngIf="portfolio">
    <div class="articles-bloc">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 blog">
                <h1>Portfolio</h1>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 thumb" *ngFor="let img of portfolio | async">
                        <imgur-display [imgur]="img"></imgur-display>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 sidebar">
                <sidebar></sidebar>
            </div>
        </div>
    </div>
</div>
